In [ ]:
import pandas as pd

In [ ]:
Data = {

    'name': ['kamal','hossain','rana','rohaman','amir'],
    'roll' : [1,2,3,4,5],
    'salary':[10000,20000,30000,40000,50000]

}



df = pd.DataFrame(Data)

print(df)

      name  roll  salary
0    kamal     1   10000
1  hossain     2   20000
2     rana     3   30000
3  rohaman     4   40000
4     amir     5   50000

In [ ]:
df = pd.read_csv('titanic.csv')

print(df)

     Survived  Pclass                                               Name  \
0           0       3                             Mr. Owen Harris Braund
1           1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2           1       3                              Miss. Laina Heikkinen
3           1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4           0       3                            Mr. William Henry Allen
..        ...     ...                                                ...
882         0       2                               Rev. Juozas Montvila
883         1       1                        Miss. Margaret Edith Graham
884         0       3                     Miss. Catherine Helen Johnston
885         1       1                               Mr. Karl Howell Behr
886         0       3                                 Mr. Patrick Dooley

        Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0      male  22.0                        1                        0   7.2500
1    female  38.0                        1                        0  71.2833
2    female  26.0                        0                        0   7.9250
3    female  35.0                        1                        0  53.1000
4      male  35.0                        0                        0   8.0500
..      ...   ...                      ...                      ...      ...
882    male  27.0                        0                        0  13.0000
883  female  19.0                        0                        0  30.0000
884  female   7.0                        1                        2  23.4500
885    male  26.0                        0                        0  30.0000
886    male  32.0                        0                        0   7.7500

[887 rows x 8 columns]

In [ ]:
df1 = pd.read_excel('ddt.xlsx')

print(df1)

                       Country  Year   Rank  Total  S1: Demographic Pressures  \
0                      Somalia  2023    1st  111.9                       10.0
1                        Yemen  2023    2nd  108.9                        9.6
2                  South Sudan  2023    3rd  108.5                        9.7
3    Congo Democratic Republic  2023    4th  107.2                        9.7
4                        Syria  2023    5th  107.1                        7.4
..                         ...   ...    ...    ...                        ...
174                Switzerland  2023  175th   17.8                        2.4
175                New Zealand  2023  176th   16.7                        1.1
176                    Finland  2023  177th   16.0                        1.7
177                    Iceland  2023  178th   15.7                        1.5
178                     Norway  2023  179th   14.5                        1.4

     S2: Refugees and IDPs  C3: Group Grievance  \
0                      9.0                  8.7
1                      9.6                  8.8
2                     10.0                  8.6
3                      9.8                  9.4
4                      9.1                  9.1
..                     ...                  ...
174                    3.2                  2.1
175                    1.2                  2.0
176                    1.9                  0.3
177                    1.5                  0.5
178                    1.7                  3.1

     E3: Human Flight and Brain Drain  E2: Economic Inequality  E1: Economy  \
0                                 8.6                      9.1          9.5
1                                 6.4                      7.9          9.9
2                                 6.5                      8.6          8.6
3                                 6.4                      8.4          8.1
4                                 8.0                      6.5          9.6
..                                ...                      ...          ...
174                               1.0                      2.4          1.6
175                               1.6                      2.6          2.6
176                               1.5                      1.6          2.7
177                               1.6                      1.5          2.6
178                               0.7                      1.4          1.4

     P1: State Legitimacy  P2: Public Services  P3: Human Rights  \
0                     9.6                  9.8               9.0
1                     9.8                  9.6               9.6
2                     9.8                  9.7               8.7
3                     9.3                  9.3               9.3
4                    10.0                  9.0               9.1
..                    ...                  ...               ...
174                   0.3                  1.6               0.4
175                   0.5                  1.1               0.5
176                   0.4                  1.0               0.5
177                   0.4                  0.9               0.4
178                   0.4                  1.0               0.4

     C1: Security Apparatus  C2: Factionalized Elites  \
0                       9.5                      10.0
1                       8.6                       9.9
2                       9.9                       9.2
3                       8.8                       9.6
4                       9.4                       9.9
..                      ...                       ...
174                     1.4                       1.0
175                     1.6                       1.4
176                     2.0                       1.4
177                     0.4                       1.8
178                     1.4                       1.1

     X1: External Intervention
0                          9.1
1                          9.2
2                          9.2
3                          9.1
4                         10.0
..                         ...
174                        0.4
175                        0.5
176                        1.0
177                        2.6
178                        0.5

[179 rows x 16 columns]

In [ ]:
df1.head(10)

,Country,Year,Rank,Total,S1: Demographic Pressures,S2: Refugees and IDPs,C3: Group Grievance,E3: Human Flight and Brain Drain,E2: Economic Inequality,E1: Economy,P1: State Legitimacy,P2: Public Services,P3: Human Rights,C1: Security Apparatus,C2: Factionalized Elites,X1: External Intervention
0,Somalia,2023,1st,111.9,10.0,9.0,8.7,8.6,9.1,9.5,9.6,9.8,9.0,9.5,10.0,9.1
1,Yemen,2023,2nd,108.9,9.6,9.6,8.8,6.4,7.9,9.9,9.8,9.6,9.6,8.6,9.9,9.2
2,South Sudan,2023,3rd,108.5,9.7,10.0,8.6,6.5,8.6,8.6,9.8,9.7,8.7,9.9,9.2,9.2
3,Congo Democratic Republic,2023,4th,107.2,9.7,9.8,9.4,6.4,8.4,8.1,9.3,9.3,9.3,8.8,9.6,9.1
4,Syria,2023,5th,107.1,7.4,9.1,9.1,8.0,6.5,9.6,10.0,9.0,9.1,9.4,9.9,10.0
5,Afghanistan,2023,6th,106.6,9.2,8.6,8.3,8.5,8.2,9.6,9.4,10.0,8.7,9.7,8.7,7.7
6,Sudan,2023,7th,106.2,8.8,9.6,9.3,7.5,8.5,9.3,9.4,8.6,9.2,8.3,9.6,8.1
7,Central African Republic,2023,8th,105.7,9.3,9.5,8.1,6.2,9.6,8.2,8.9,10.0,9.1,8.0,9.4,9.4
8,Chad,2023,9th,104.6,9.5,9.0,8.1,7.7,8.7,8.4,9.1,9.6,8.4,8.7,9.5,7.9
9,Haiti,2023,10th,102.9,8.8,7.7,5.5,8.3,9.2,8.9,9.9,9.8,8.7,6.8,9.7,9.6

In [ ]:
d = df1[176:177]

print(d)

     Country  Year   Rank  Total  S1: Demographic Pressures  \
176  Finland  2023  177th   16.0                        1.7

     S2: Refugees and IDPs  C3: Group Grievance  \
176                    1.9                  0.3

     E3: Human Flight and Brain Drain  E2: Economic Inequality  E1: Economy  \
176                               1.5                      1.6          2.7

     P1: State Legitimacy  P2: Public Services  P3: Human Rights  \
176                   0.4                  1.0               0.5

     C1: Security Apparatus  C2: Factionalized Elites  \
176                     2.0                       1.4

     X1: External Intervention
176                        1.0

In [ ]:
dd = df1.loc[176]

print(dd)

Country                             Finland
Year                                   2023
Rank                                  177th
Total                                  16.0
S1: Demographic Pressures               1.7
S2: Refugees and IDPs                   1.9
C3: Group Grievance                     0.3
E3: Human Flight and Brain Drain        1.5
E2: Economic Inequality                 1.6
E1: Economy                             2.7
P1: State Legitimacy                    0.4
P2: Public Services                     1.0
P3: Human Rights                        0.5
C1: Security Apparatus                  2.0
C2: Factionalized Elites                1.4
X1: External Intervention               1.0
Name: 176, dtype: object

In [ ]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           179 non-null    object
 1   Year                              179 non-null    int64
 2   Rank                              179 non-null    object
 3   Total                             179 non-null    float64
 4   S1: Demographic Pressures         179 non-null    float64
 5   S2: Refugees and IDPs             179 non-null    float64
 6   C3: Group Grievance               179 non-null    float64
 7   E3: Human Flight and Brain Drain  179 non-null    float64
 8   E2: Economic Inequality           179 non-null    float64
 9   E1: Economy                       179 non-null    float64
 10  P1: State Legitimacy              179 non-null    float64
 11  P2: Public Services               179 non-null    float64
 12  P3: Human Rights                  179 non-null    float64
 13  C1: Security Apparatus            179 non-null    float64
 14  C2: Factionalized Elites          179 non-null    float64
 15  X1: External Intervention         179 non-null    float64
dtypes: float64(13), int64(1), object(2)
memory usage: 22.5+ KB
None

In [ ]:
df1.describe()

,Year,Total,S1: Demographic Pressures,S2: Refugees and IDPs,C3: Group Grievance,E3: Human Flight and Brain Drain,E2: Economic Inequality,E1: Economy,P1: State Legitimacy,P2: Public Services,P3: Human Rights,C1: Security Apparatus,C2: Factionalized Elites,X1: External Intervention
count,179.0,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000
mean,2023.0,65.832402,5.955866,4.764246,5.574860,5.184358,5.323464,5.687151,5.741341,5.459218,5.436872,5.014525,6.618436,5.072067
std,0.0,23.966251,2.278726,2.373935,2.367757,2.079591,2.068546,2.200741,2.901853,2.581299,2.602588,2.379810,2.427869,2.577801
min,2023.0,14.500000,1.100000,0.500000,0.300000,0.400000,1.400000,1.000000,0.300000,0.900000,0.400000,0.300000,1.000000,0.300000
25%,2023.0,49.000000,4.100000,2.800000,3.600000,3.700000,3.650000,4.100000,3.650000,3.450000,3.600000,3.350000,4.950000,3.150000
50%,2023.0,68.200000,5.900000,4.500000,5.500000,5.600000,5.200000,6.000000,6.400000,5.100000,5.700000,5.100000,7.200000,5.300000
75%,2023.0,82.200000,8.050000,6.450000,7.550000,6.600000,7.200000,7.150000,8.100000,7.950000,7.500000,6.700000,8.550000,7.000000
max,2023.0,111.900000,10.000000,10.000000,9.700000,10.000000,9.600000,9.900000,10.000000,10.000000,9.900000,10.000000,10.000000,10.000000

In [ ]:
print(df.isnull().sum())    #### provide column wise some of null value

Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

In [ ]:
data = {
    'name': ['amir','rohaman','amir','nijam','nijam','kamal','kamal'],
    'roll' : [3,2,3,3,4,5,5],
    'salary':[30000,20000,30000,40000,40000,50000,50000]
}




fd = pd.DataFrame(data)

print(fd)

      name  roll  salary
0     amir     3   30000
1  rohaman     2   20000
2     amir     3   30000
3    nijam     3   40000
4    nijam     4   40000
5    kamal     5   50000
6    kamal     5   50000

In [ ]:
dd= pd.read_excel('for.xlsx')

In [ ]:
print(dd)

    id     name  class  age  bonous first name last name  salary
0   11    kamal      1   23    0.15     aboul        mia   20000
1   22    jamal      2   24    0.30      kalam       mia   30000
2   33  hossain      3   25    0.00      niyaj       mia   40000
3   44  rohaman      4   26    0.40     faraji       mia   50000
4   11    kamal      1   23    0.60      habib       mia   60000
5   55     amir      5   28    0.60      karim       mia   70000
6   55     amir      5   28    0.20       amin       mia   80000
7   66    jamir      6   30    0.00      rohim       mia   90000
8   67   tamim       7   25    0.00    rohoman       mia   30000
9   68   tamim       8   40    0.15       aksh       mia   40000
10  69   najmol      9   40    0.25      ashok       mia   50000
11  70   naimur     10   70    0.60      usiof       mia   60000
12  17   naimur     12   20    0.00      tamim       mia   70000

In [ ]:
print(dd.duplicated().sum())             #### its provide row wise douplicated value

0

In [ ]:
print(dd['name'].duplicated().sum())      ### its provide column wise douplicated value

4

In [ ]:
print(dd['id'].duplicated())

0     False
1     False
2     False
3     False
4      True
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
Name: id, dtype: bool

In [ ]:
dd.drop_duplicates()

    id     name  class  age  bonous first name last name  salary
0   11    kamal      1   23    0.15     aboul        mia   20000
1   22    jamal      2   24    0.30      kalam       mia   30000
2   33  hossain      3   25    0.00      niyaj       mia   40000
3   44  rohaman      4   26    0.40     faraji       mia   50000
4   11    kamal      1   23    0.60      habib       mia   60000
5   55     amir      5   28    0.60      karim       mia   70000
6   55     amir      5   28    0.20       amin       mia   80000
7   66    jamir      6   30    0.00      rohim       mia   90000
8   67   tamim       7   25    0.00    rohoman       mia   30000
9   68   tamim       8   40    0.15       aksh       mia   40000
10  69   najmol      9   40    0.25      ashok       mia   50000
11  70   naimur     10   70    0.60      usiof       mia   60000
12  17   naimur     12   20    0.00      tamim       mia   70000

In [ ]:
print(dd.drop_duplicates('id'))

    id     name  class  age  bonous first name last name  salary
0   11    kamal      1   23    0.15     aboul        mia   20000
1   22    jamal      2   24    0.30      kalam       mia   30000
2   33  hossain      3   25    0.00      niyaj       mia   40000
3   44  rohaman      4   26    0.40     faraji       mia   50000
5   55     amir      5   28    0.60      karim       mia   70000
7   66    jamir      6   30    0.00      rohim       mia   90000
8   67   tamim       7   25    0.00    rohoman       mia   30000
9   68   tamim       8   40    0.15       aksh       mia   40000
10  69   najmol      9   40    0.25      ashok       mia   50000
11  70   naimur     10   70    0.60      usiof       mia   60000
12  17   naimur     12   20    0.00      tamim       mia   70000

In [ ]:
df = pd.read_excel('sst.xlsx')
print(df)

      id     name  class    age
0   11.0    kamal    1.0   23.0
1   22.0    jamal    2.0   24.0
2   33.0  hossain    3.0   25.0
3   44.0  rohaman    4.0   26.0
4   11.0    kamal    1.0   23.0
5   55.0     amir    5.0   28.0
6   55.0     amir    5.0   28.0
7   66.0    jamir    6.0   30.0
8   67.0   tamim     7.0   25.0
9   68.0   tamim     8.0   40.0
10  69.0   najmol    9.0   40.0
11  70.0   naimur   10.0   70.0
12  17.0   naimur   12.0   20.0
13  12.0     abdu    NaN    NaN
14   NaN      NaN   23.0   66.0
15  22.0      NaN   35.0    NaN
16  44.0    rhhim   60.0    NaN
17  66.0  rohoman    NaN   88.0
18   NaN     aman    NaN  777.0
19  77.0      NaN   33.0  666.0
20   NaN    rohan    NaN  555.0
21   NaN    tomal   55.0  333.0
22  66.0    tamim   44.0  222.0
23  77.0    rihan   66.0  111.0

In [ ]:
print(df.isnull().sum())

id       4
name     3
class    4
age      3
dtype: int64

In [ ]:
print(df.dropna())

      id     name  class    age
0   11.0    kamal    1.0   23.0
1   22.0    jamal    2.0   24.0
2   33.0  hossain    3.0   25.0
3   44.0  rohaman    4.0   26.0
4   11.0    kamal    1.0   23.0
5   55.0     amir    5.0   28.0
6   55.0     amir    5.0   28.0
7   66.0    jamir    6.0   30.0
8   67.0   tamim     7.0   25.0
9   68.0   tamim     8.0   40.0
10  69.0   najmol    9.0   40.0
11  70.0   naimur   10.0   70.0
12  17.0   naimur   12.0   20.0
22  66.0    tamim   44.0  222.0
23  77.0    rihan   66.0  111.0

In [ ]:
import numpy as np


print(df.replace (np.nan,30000))

         id     name    class      age
0      11.0    kamal      1.0     23.0
1      22.0    jamal      2.0     24.0
2      33.0  hossain      3.0     25.0
3      44.0  rohaman      4.0     26.0
4      11.0    kamal      1.0     23.0
5      55.0     amir      5.0     28.0
6      55.0     amir      5.0     28.0
7      66.0    jamir      6.0     30.0
8      67.0   tamim       7.0     25.0
9      68.0   tamim       8.0     40.0
10     69.0   najmol      9.0     40.0
11     70.0   naimur     10.0     70.0
12     17.0   naimur     12.0     20.0
13     12.0     abdu  30000.0  30000.0
14  30000.0    30000     23.0     66.0
15     22.0    30000     35.0  30000.0
16     44.0    rhhim     60.0  30000.0
17     66.0  rohoman  30000.0     88.0
18  30000.0     aman  30000.0    777.0
19     77.0    30000     33.0    666.0
20  30000.0    rohan  30000.0    555.0
21  30000.0    tomal     55.0    333.0
22     66.0    tamim     44.0    222.0
23     77.0    rihan     66.0    111.0

In [ ]:
df['salary'] = df["age"].replace(np.nan,18)
print(df)

      id     name  class    age  salary
0   11.0    kamal    1.0   23.0    23.0
1   22.0    jamal    2.0   24.0    24.0
2   33.0  hossain    3.0   25.0    25.0
3   44.0  rohaman    4.0   26.0    26.0
4   11.0    kamal    1.0   23.0    23.0
5   55.0     amir    5.0   28.0    28.0
6   55.0     amir    5.0   28.0    28.0
7   66.0    jamir    6.0   30.0    30.0
8   67.0   tamim     7.0   25.0    25.0
9   68.0   tamim     8.0   40.0    40.0
10  69.0   najmol    9.0   40.0    40.0
11  70.0   naimur   10.0   70.0    70.0
12  17.0   naimur   12.0   20.0    20.0
13  12.0     abdu    NaN    NaN    18.0
14   NaN      NaN   23.0   66.0    66.0
15  22.0      NaN   35.0    NaN    18.0
16  44.0    rhhim   60.0    NaN    18.0
17  66.0  rohoman    NaN   88.0    88.0
18   NaN     aman    NaN  777.0   777.0
19  77.0      NaN   33.0  666.0   666.0
20   NaN    rohan    NaN  555.0   555.0
21   NaN    tomal   55.0  333.0   333.0
22  66.0    tamim   44.0  222.0   222.0
23  77.0    rihan   66.0  111.0   111.0

In [ ]:
print(df)

      id     name  class    age  salary
0   11.0    kamal    1.0   23.0    23.0
1   22.0    jamal    2.0   24.0    24.0
2   33.0  hossain    3.0   25.0    25.0
3   44.0  rohaman    4.0   26.0    26.0
4   11.0    kamal    1.0   23.0    23.0
5   55.0     amir    5.0   28.0    28.0
6   55.0     amir    5.0   28.0    28.0
7   66.0    jamir    6.0   30.0    30.0
8   67.0   tamim     7.0   25.0    25.0
9   68.0   tamim     8.0   40.0    40.0
10  69.0   najmol    9.0   40.0    40.0
11  70.0   naimur   10.0   70.0    70.0
12  17.0   naimur   12.0   20.0    20.0
13  12.0     abdu    NaN    NaN    18.0
14   NaN      NaN   23.0   66.0    66.0
15  22.0      NaN   35.0    NaN    18.0
16  44.0    rhhim   60.0    NaN    18.0
17  66.0  rohoman    NaN   88.0    88.0
18   NaN     aman    NaN  777.0   777.0
19  77.0      NaN   33.0  666.0   666.0
20   NaN    rohan    NaN  555.0   555.0
21   NaN    tomal   55.0  333.0   333.0
22  66.0    tamim   44.0  222.0   222.0
23  77.0    rihan   66.0  111.0   111.0

In [ ]:
print(df)

      id     name  class    age  salary
0   11.0    kamal    1.0   23.0    23.0
1   22.0    jamal    2.0   24.0    24.0
2   33.0  hossain    3.0   25.0    25.0
3   44.0  rohaman    4.0   26.0    26.0
4   11.0    kamal    1.0   23.0    23.0
5   55.0     amir    5.0   28.0    28.0
6   55.0     amir    5.0   28.0    28.0
7   66.0    jamir    6.0   30.0    30.0
8   67.0   tamim     7.0   25.0    25.0
9   68.0   tamim     8.0   40.0    40.0
10  69.0   najmol    9.0   40.0    40.0
11  70.0   naimur   10.0   70.0    70.0
12  17.0   naimur   12.0   20.0    20.0
13  12.0     abdu    NaN    NaN    18.0
14   NaN      NaN   23.0   66.0    66.0
15  22.0      NaN   35.0    NaN    18.0
16  44.0    rhhim   60.0    NaN    18.0
17  66.0  rohoman    NaN   88.0    88.0
18   NaN     aman    NaN  777.0   777.0
19  77.0      NaN   33.0  666.0   666.0
20   NaN    rohan    NaN  555.0   555.0
21   NaN    tomal   55.0  333.0   333.0
22  66.0    tamim   44.0  222.0   222.0
23  77.0    rihan   66.0  111.0   111.0

In [ ]:
print (df['age'].mean())

153.33333333333334

In [ ]:
print(df)

      id     name  class    age  salary
0   11.0    kamal    1.0   23.0    23.0
1   22.0    jamal    2.0   24.0    24.0
2   33.0  hossain    3.0   25.0    25.0
3   44.0  rohaman    4.0   26.0    26.0
4   11.0    kamal    1.0   23.0    23.0
5   55.0     amir    5.0   28.0    28.0
6   55.0     amir    5.0   28.0    28.0
7   66.0    jamir    6.0   30.0    30.0
8   67.0   tamim     7.0   25.0    25.0
9   68.0   tamim     8.0   40.0    40.0
10  69.0   najmol    9.0   40.0    40.0
11  70.0   naimur   10.0   70.0    70.0
12  17.0   naimur   12.0   20.0    20.0
13  12.0     abdu    NaN    NaN    18.0
14   NaN      NaN   23.0   66.0    66.0
15  22.0      NaN   35.0    NaN    18.0
16  44.0    rhhim   60.0    NaN    18.0
17  66.0  rohoman    NaN   88.0    88.0
18   NaN     aman    NaN  777.0   777.0
19  77.0      NaN   33.0  666.0   666.0
20   NaN    rohan    NaN  555.0   555.0
21   NaN    tomal   55.0  333.0   333.0
22  66.0    tamim   44.0  222.0   222.0
23  77.0    rihan   66.0  111.0   111.0

In [ ]:
print(df.fillna(method='bfill'))

      id     name  class    age  salary
0   11.0    kamal    1.0   23.0    23.0
1   22.0    jamal    2.0   24.0    24.0
2   33.0  hossain    3.0   25.0    25.0
3   44.0  rohaman    4.0   26.0    26.0
4   11.0    kamal    1.0   23.0    23.0
5   55.0     amir    5.0   28.0    28.0
6   55.0     amir    5.0   28.0    28.0
7   66.0    jamir    6.0   30.0    30.0
8   67.0   tamim     7.0   25.0    25.0
9   68.0   tamim     8.0   40.0    40.0
10  69.0   najmol    9.0   40.0    40.0
11  70.0   naimur   10.0   70.0    70.0
12  17.0   naimur   12.0   20.0    20.0
13  12.0     abdu   23.0   66.0    18.0
14  22.0    rhhim   23.0   66.0    66.0
15  22.0    rhhim   35.0   88.0    18.0
16  44.0    rhhim   60.0   88.0    18.0
17  66.0  rohoman   33.0   88.0    88.0
18  77.0     aman   33.0  777.0   777.0
19  77.0    rohan   33.0  666.0   666.0
20  66.0    rohan   55.0  555.0   555.0
21  66.0    tomal   55.0  333.0   333.0
22  66.0    tamim   44.0  222.0   222.0
23  77.0    rihan   66.0  111.0   111.0

<ipython-input-28-f099e310696e>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='bfill'))

In [ ]:
print(df)

      id     name  class    age  salary
0   11.0    kamal    1.0   23.0    23.0
1   22.0    jamal    2.0   24.0    24.0
2   33.0  hossain    3.0   25.0    25.0
3   44.0  rohaman    4.0   26.0    26.0
4   11.0    kamal    1.0   23.0    23.0
5   55.0     amir    5.0   28.0    28.0
6   55.0     amir    5.0   28.0    28.0
7   66.0    jamir    6.0   30.0    30.0
8   67.0   tamim     7.0   25.0    25.0
9   68.0   tamim     8.0   40.0    40.0
10  69.0   najmol    9.0   40.0    40.0
11  70.0   naimur   10.0   70.0    70.0
12  17.0   naimur   12.0   20.0    20.0
13  12.0     abdu    NaN    NaN    18.0
14   NaN      NaN   23.0   66.0    66.0
15  22.0      NaN   35.0    NaN    18.0
16  44.0    rhhim   60.0    NaN    18.0
17  66.0  rohoman    NaN   88.0    88.0
18   NaN     aman    NaN  777.0   777.0
19  77.0      NaN   33.0  666.0   666.0
20   NaN    rohan    NaN  555.0   555.0
21   NaN    tomal   55.0  333.0   333.0
22  66.0    tamim   44.0  222.0   222.0
23  77.0    rihan   66.0  111.0   111.0

In [ ]:
print(df.fillna(method='ffill'))

      id     name  class    age  salary
0   11.0    kamal    1.0   23.0    23.0
1   22.0    jamal    2.0   24.0    24.0
2   33.0  hossain    3.0   25.0    25.0
3   44.0  rohaman    4.0   26.0    26.0
4   11.0    kamal    1.0   23.0    23.0
5   55.0     amir    5.0   28.0    28.0
6   55.0     amir    5.0   28.0    28.0
7   66.0    jamir    6.0   30.0    30.0
8   67.0   tamim     7.0   25.0    25.0
9   68.0   tamim     8.0   40.0    40.0
10  69.0   najmol    9.0   40.0    40.0
11  70.0   naimur   10.0   70.0    70.0
12  17.0   naimur   12.0   20.0    20.0
13  12.0     abdu   12.0   20.0    18.0
14  12.0     abdu   23.0   66.0    66.0
15  22.0     abdu   35.0   66.0    18.0
16  44.0    rhhim   60.0   66.0    18.0
17  66.0  rohoman   60.0   88.0    88.0
18  66.0     aman   60.0  777.0   777.0
19  77.0     aman   33.0  666.0   666.0
20  77.0    rohan   33.0  555.0   555.0
21  77.0    tomal   55.0  333.0   333.0
22  66.0    tamim   44.0  222.0   222.0
23  77.0    rihan   66.0  111.0   111.0

<ipython-input-30-e3033473c0e7>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='ffill'))

In [ ]:
df = pd.read_excel('for.xlsx')

print(df)

    id     name  class  age  bonous first name last name  salary
0   11    kamal      1   23    0.15     aboul        mia   20000
1   22    jamal      2   24    0.30      kalam       mia   30000
2   33  hossain      3   25    0.00      niyaj       mia   40000
3   44  rohaman      4   26    0.40     faraji       mia   50000
4   11    kamal      1   23    0.60      habib       mia   60000
5   55     amir      5   28    0.60      karim       mia   70000
6   55     amir      5   28    0.20       amin       mia   80000
7   66    jamir      6   30    0.00      rohim       mia   90000
8   67   tamim       7   25    0.00    rohoman       mia   30000
9   68   tamim       8   40    0.15       aksh       mia   40000
10  69   najmol      9   40    0.25      ashok       mia   50000
11  70   naimur     10   70    0.60      usiof       mia   60000
12  17   naimur     12   20    0.00      tamim       mia   70000

In [ ]:
df.loc[(df['bonous']==0) , 'get_bonous'] = 'nobonous'           ### This is column trnsformation
df.loc[(df['bonous']!=0) , 'get_bonous'] = 'bonous'
                                           ### I did not understand why provide this error
print(df)

    id     name  class  age  bonous first name last name  salary get_bonous
0   11    kamal      1   23    0.15     aboul        mia   20000     bonous
1   22    jamal      2   24    0.30      kalam       mia   30000     bonous
2   33  hossain      3   25    0.00      niyaj       mia   40000   nobonous
3   44  rohaman      4   26    0.40     faraji       mia   50000     bonous
4   11    kamal      1   23    0.60      habib       mia   60000     bonous
5   55     amir      5   28    0.60      karim       mia   70000     bonous
6   55     amir      5   28    0.20       amin       mia   80000     bonous
7   66    jamir      6   30    0.00      rohim       mia   90000   nobonous
8   67   tamim       7   25    0.00    rohoman       mia   30000   nobonous
9   68   tamim       8   40    0.15       aksh       mia   40000     bonous
10  69   najmol      9   40    0.25      ashok       mia   50000     bonous
11  70   naimur     10   70    0.60      usiof       mia   60000     bonous
12  17   naimur     12   20    0.00      tamim       mia   70000   nobonous

In [ ]:
print(df)

    id     name  class  age  bonous first name last name  salary get_bonous
0   11    kamal      1   23    0.15     aboul        mia   20000     bonous
1   22    jamal      2   24    0.30      kalam       mia   30000     bonous
2   33  hossain      3   25    0.00      niyaj       mia   40000   nobonous
3   44  rohaman      4   26    0.40     faraji       mia   50000     bonous
4   11    kamal      1   23    0.60      habib       mia   60000     bonous
5   55     amir      5   28    0.60      karim       mia   70000     bonous
6   55     amir      5   28    0.20       amin       mia   80000     bonous
7   66    jamir      6   30    0.00      rohim       mia   90000   nobonous
8   67   tamim       7   25    0.00    rohoman       mia   30000   nobonous
9   68   tamim       8   40    0.15       aksh       mia   40000     bonous
10  69   najmol      9   40    0.25      ashok       mia   50000     bonous
11  70   naimur     10   70    0.60      usiof       mia   60000     bonous
12  17   naimur     12   20    0.00      tamim       mia   70000   nobonous

In [ ]:
df['fullname'] = df['first name'] + ' ' + df['last name']
print(df)

    id     name  class  age  bonous first name last name  salary get_bonous  \
0   11    kamal      1   23    0.15     aboul        mia   20000     bonous
1   22    jamal      2   24    0.30      kalam       mia   30000     bonous
2   33  hossain      3   25    0.00      niyaj       mia   40000   nobonous
3   44  rohaman      4   26    0.40     faraji       mia   50000     bonous
4   11    kamal      1   23    0.60      habib       mia   60000     bonous
5   55     amir      5   28    0.60      karim       mia   70000     bonous
6   55     amir      5   28    0.20       amin       mia   80000     bonous
7   66    jamir      6   30    0.00      rohim       mia   90000   nobonous
8   67   tamim       7   25    0.00    rohoman       mia   30000   nobonous
9   68   tamim       8   40    0.15       aksh       mia   40000     bonous
10  69   najmol      9   40    0.25      ashok       mia   50000     bonous
11  70   naimur     10   70    0.60      usiof       mia   60000     bonous
12  17   naimur     12   20    0.00      tamim       mia   70000   nobonous

       fullname
0    aboul  mia
1     kalam mia
2     niyaj mia
3    faraji mia
4     habib mia
5     karim mia
6      amin mia
7     rohim mia
8   rohoman mia
9      aksh mia
10    ashok mia
11    usiof mia
12    tamim mia

In [ ]:
print(df)

    id     name  class  age  bonous first name last name  salary get_bonous  \
0   11    kamal      1   23    0.15     aboul        mia   20000     bonous
1   22    jamal      2   24    0.30      kalam       mia   30000     bonous
2   33  hossain      3   25    0.00      niyaj       mia   40000   nobonous
3   44  rohaman      4   26    0.40     faraji       mia   50000     bonous
4   11    kamal      1   23    0.60      habib       mia   60000     bonous
5   55     amir      5   28    0.60      karim       mia   70000     bonous
6   55     amir      5   28    0.20       amin       mia   80000     bonous
7   66    jamir      6   30    0.00      rohim       mia   90000   nobonous
8   67   tamim       7   25    0.00    rohoman       mia   30000   nobonous
9   68   tamim       8   40    0.15       aksh       mia   40000     bonous
10  69   najmol      9   40    0.25      ashok       mia   50000     bonous
11  70   naimur     10   70    0.60      usiof       mia   60000     bonous
12  17   naimur     12   20    0.00      tamim       mia   70000   nobonous

       fullname
0    aboul  mia
1     kalam mia
2     niyaj mia
3    faraji mia
4     habib mia
5     karim mia
6      amin mia
7     rohim mia
8   rohoman mia
9      aksh mia
10    ashok mia
11    usiof mia
12    tamim mia

In [ ]:
df['bobus_tk_20%'] = df['salary']//100*20

print(df)

    id     name  class  age  bonous first name last name  salary get_bonous  \
0   11    kamal      1   23    0.15     aboul        mia   20000     bonous
1   22    jamal      2   24    0.30      kalam       mia   30000     bonous
2   33  hossain      3   25    0.00      niyaj       mia   40000   nobonous
3   44  rohaman      4   26    0.40     faraji       mia   50000     bonous
4   11    kamal      1   23    0.60      habib       mia   60000     bonous
5   55     amir      5   28    0.60      karim       mia   70000     bonous
6   55     amir      5   28    0.20       amin       mia   80000     bonous
7   66    jamir      6   30    0.00      rohim       mia   90000   nobonous
8   67   tamim       7   25    0.00    rohoman       mia   30000   nobonous
9   68   tamim       8   40    0.15       aksh       mia   40000     bonous
10  69   najmol      9   40    0.25      ashok       mia   50000     bonous
11  70   naimur     10   70    0.60      usiof       mia   60000     bonous
12  17   naimur     12   20    0.00      tamim       mia   70000   nobonous

       fullname  bobus_tk_20%
0    aboul  mia          4000
1     kalam mia          6000
2     niyaj mia          8000
3    faraji mia         10000
4     habib mia         12000
5     karim mia         14000
6      amin mia         16000
7     rohim mia         18000
8   rohoman mia          6000
9      aksh mia          8000
10    ashok mia         10000
11    usiof mia         12000
12    tamim mia         14000

In [ ]:
data = {'months': ['january','febuary','march','april','may','jun','july','agust','september']}

data = pd.DataFrame(data)

print(data)

      months
0    january
1    febuary
2      march
3      april
4        may
5        jun
6       july
7      agust
8  september

In [ ]:
def extract(value):
  return value[0:3]

data['short_month']=data['months'].map(extract)

print(data)

      months short_month
0    january         jan
1    febuary         feb
2      march         mar
3      april         apr
4        may         may
5        jun         jun
6       july         jul
7      agust         agu
8  september         sep

In [ ]:
print(df)

    id     name  class  age  bonous first name last name  salary get_bonous  \
0   11    kamal      1   23    0.15     aboul        mia   20000     bonous
1   22    jamal      2   24    0.30      kalam       mia   30000     bonous
2   33  hossain      3   25    0.00      niyaj       mia   40000   nobonous
3   44  rohaman      4   26    0.40     faraji       mia   50000     bonous
4   11    kamal      1   23    0.60      habib       mia   60000     bonous
5   55     amir      5   28    0.60      karim       mia   70000     bonous
6   55     amir      5   28    0.20       amin       mia   80000     bonous
7   66    jamir      6   30    0.00      rohim       mia   90000   nobonous
8   67   tamim       7   25    0.00    rohoman       mia   30000   nobonous
9   68   tamim       8   40    0.15       aksh       mia   40000     bonous
10  69   najmol      9   40    0.25      ashok       mia   50000     bonous
11  70   naimur     10   70    0.60      usiof       mia   60000     bonous
12  17   naimur     12   20    0.00      tamim       mia   70000   nobonous

       fullname  bobus_tk_20%
0    aboul  mia          4000
1     kalam mia          6000
2     niyaj mia          8000
3    faraji mia         10000
4     habib mia         12000
5     karim mia         14000
6      amin mia         16000
7     rohim mia         18000
8   rohoman mia          6000
9      aksh mia          8000
10    ashok mia         10000
11    usiof mia         12000
12    tamim mia         14000

In [ ]:
pd.read_excel('for.xlsx')

print(df)

    id     name  class  age  bonous first name last name  salary get_bonous  \
0   11    kamal      1   23    0.15     aboul        mia   20000     bonous
1   22    jamal      2   24    0.30      kalam       mia   30000     bonous
2   33  hossain      3   25    0.00      niyaj       mia   40000   nobonous
3   44  rohaman      4   26    0.40     faraji       mia   50000     bonous
4   11    kamal      1   23    0.60      habib       mia   60000     bonous
5   55     amir      5   28    0.60      karim       mia   70000     bonous
6   55     amir      5   28    0.20       amin       mia   80000     bonous
7   66    jamir      6   30    0.00      rohim       mia   90000   nobonous
8   67   tamim       7   25    0.00    rohoman       mia   30000   nobonous
9   68   tamim       8   40    0.15       aksh       mia   40000     bonous
10  69   najmol      9   40    0.25      ashok       mia   50000     bonous
11  70   naimur     10   70    0.60      usiof       mia   60000     bonous
12  17   naimur     12   20    0.00      tamim       mia   70000   nobonous

       fullname  bobus_tk_20%
0    aboul  mia          4000
1     kalam mia          6000
2     niyaj mia          8000
3    faraji mia         10000
4     habib mia         12000
5     karim mia         14000
6      amin mia         16000
7     rohim mia         18000
8   rohoman mia          6000
9      aksh mia          8000
10    ashok mia         10000
11    usiof mia         12000
12    tamim mia         14000

In [ ]:
gb = df.groupby('name').agg({'salary':'count'})
print(gb)

         salary
name
amir          2
hossain       1
jamal         1
jamir         1
kamal         2
naimur        2
najmol        1
rohaman       1
tamim         2

In [ ]:
gb = df.groupby(['name','class','salary']).agg({'salary':'count'})
print(gb)

                      salary
name    class salary
amir    5     70000        1
              80000        1
hossain 3     40000        1
jamal   2     30000        1
jamir   6     90000        1
kamal   1     20000        1
              60000        1
naimur  10    60000        1
        12    70000        1
najmol  9     50000        1
rohaman 4     50000        1
tamim   7     30000        1
        8     40000        1

In [ ]:
##### marge

In [ ]:
data1 = {'em_id': ['e1','e2','e3','e4','e5','e6'],
         'names':['kamal','hossain','rana','rohaman','rohan','rahim'],
         'age':[23,24,25,26,27,28]}



data2 = {'em_id': ['e1','e2','e3','e4','e5','e6'],
         'salary':[40000,50000,60000,70000,80000,90000]}


df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)


print(df1)
print()
print(df2)

  em_id    names  age
0    e1    kamal   23
1    e2  hossain   24
2    e3     rana   25
3    e4  rohaman   26
4    e5    rohan   27
5    e6    rahim   28

  em_id  salary
0    e1   40000
1    e2   50000
2    e3   60000
3    e4   70000
4    e5   80000
5    e6   90000

In [ ]:
merg = pd.merge(df1,df2,on='em_id')
print(merg)

  em_id    names  age  salary
0    e1    kamal   23   40000
1    e2  hossain   24   50000
2    e3     rana   25   60000
3    e4  rohaman   26   70000
4    e5    rohan   27   80000
5    e6    rahim   28   90000

In [ ]:
data1 = {'em_id': ['e1','e2','e3','e4','e5','e6'],
         'names':['kamal','hossain','rana','rohaman','rohan','rahim'],
         'age':[23,24,25,26,27,28]}



data2 = {'em_id': ['e1','e2','e8','e4','e5','e9'],
         'salary':[40000,50000,60000,' ',80000,90000]}


df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)


print(df1)
print()
print(df2)

  em_id    names  age
0    e1    kamal   23
1    e2  hossain   24
2    e3     rana   25
3    e4  rohaman   26
4    e5    rohan   27
5    e6    rahim   28

  em_id salary
0    e1  40000
1    e2  50000
2    e8  60000
3    e4
4    e5  80000
5    e9  90000

In [ ]:
merg = pd.merge(df1,df2,on='em_id',how='inner')
print(merg)                  ### inner join this provide all common valve through em_id

  em_id    names  age salary
0    e1    kamal   23  40000
1    e2  hossain   24  50000
2    e4  rohaman   26
3    e5    rohan   27  80000

In [ ]:
merg = pd.merge(left = df1,right = df2,on='em_id',how='left')
print(merg)                  ### left join this provide all common valve through em_id

  em_id    names  age salary
0    e1    kamal   23  40000
1    e2  hossain   24  50000
2    e3     rana   25    NaN
3    e4  rohaman   26
4    e5    rohan   27  80000
5    e6    rahim   28    NaN

In [ ]:
merg = pd.merge(left = df1,right = df2,on='em_id',how='right')
print(merg)                  ### right join this provide all common valve through em_id

  em_id    names   age salary
0    e1    kamal  23.0  40000
1    e2  hossain  24.0  50000
2    e8      NaN   NaN  60000
3    e4  rohaman  26.0
4    e5    rohan  27.0  80000
5    e9      NaN   NaN  90000

In [ ]:
#### joint

In [ ]:
d1 = {'id':[1,2,3,4,5,6,7],
      'name':['kamal','hossain','rohaman','amir','namir','karim','alom']}

d2 = {'id':[1,2,3,4,5,6,7],
       'sub':['a','b','c','d','e','f','g']}



d3 = {'id':[1,2,3,4,5,6,7],
      'age':[23,24,25,26,27,28,29]}


df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)
df3 = pd.DataFrame(d3)

print(df1)
print()
print(df2)
print()
print(df3)



  ###### how can join in this  thre id

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-105-016b39f0b4d1>, line 25)

In [ ]:
data1 = {'em_id': ['e1','e2','e3','e4','e5','e6'],
         'names':['kamal','hossain','rana','rohaman','rohan','rahim'],
         'age':[33,44,55,66,77,88]}

data2 = {'em_id': ['e1','e7','e3','e9','e5','e10'],
         'names':['amir','jamir','samir','mahir','anom','tanim'],
         'age':[23,24,25,26,27,28]}

data3 = {'em_id': ['e5','e8','e3','e4','e5','e11'],
         'names':['shahidu','sohan','ikram','sohan','abir','karim'],
         'age':[54,34,40,36,35,50]}



df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

print(df1)
print()
print(df2)
print()
print(df3)

con = pd.concat([df1,df2,df3])
print(con)

  em_id    names  age
0    e1    kamal   33
1    e2  hossain   44
2    e3     rana   55
3    e4  rohaman   66
4    e5    rohan   77
5    e6    rahim   88

  em_id  names  age
0    e1   amir   23
1    e7  jamir   24
2    e3  samir   25
3    e9  mahir   26
4    e5   anom   27
5   e10  tanim   28

  em_id    names  age
0    e5  shahidu   54
1    e8    sohan   34
2    e3    ikram   40
3    e4    sohan   36
4    e5     abir   35
5   e11    karim   50
  em_id    names  age
0    e1    kamal   33
1    e2  hossain   44
2    e3     rana   55
3    e4  rohaman   66
4    e5    rohan   77
5    e6    rahim   88
0    e1     amir   23
1    e7    jamir   24
2    e3    samir   25
3    e9    mahir   26
4    e5     anom   27
5   e10    tanim   28
0    e5  shahidu   54
1    e8    sohan   34
2    e3    ikram   40
3    e4    sohan   36
4    e5     abir   35
5   e11    karim   50

In [ ]:
#### change in dataframe


data = {"fruits":['apple','banana','cherry','lichi'],
        'price':[100,200,300,400],
        'quantity':[15,10,20,30]}

df1 = pd.DataFrame(data)

print(df1)

df2 = df1.copy()

df2.loc[0,'fruits'] = 'kiwi'
df2.loc[3,'fruits'] = 'watermelon'
df2.loc[0,'price'] = 400
df2.loc[3,'price'] = 500
df2.loc[0,'quantity'] = 40
df2.loc[3,'quantity'] = 50

print()

print()

print(df2)

   fruits  price  quantity
0   apple    100        15
1  banana    200        10
2  cherry    300        20
3   lichi    400        30


       fruits  price  quantity
0        kiwi    400        40
1      banana    200        10
2      cherry    300        20
3  watermelon    500        50

In [ ]:
dd2 = {'name':['amir','jamir','hossain','rohaman','toamal'],
       'roll':[1,2,3,4,5]}

df = pd.DataFrame(dd2)

print(df)
                  ##### This is are method which ues for convert DataFrame to excel shit

df.to_excel('df.xlsx')

      name  roll
0     amir     1
1    jamir     2
2  hossain     3
3  rohaman     4
4   toamal     5

In [ ]:
data = {'name':['name','kamal','hossain','rohaman','tamaim','tomal'],
        'roll':[1,2,3,4,5,6]}


df = pd.DataFrame(data)

print(df)

df['time']=[1,2,3,4,5,6]             ### Add new column in DataFrame


print(df)

      name  roll
0     name     1
1    kamal     2
2  hossain     3
3  rohaman     4
4   tamaim     5
5    tomal     6
      name  roll  time
0     name     1     1
1    kamal     2     2
2  hossain     3     3
3  rohaman     4     4
4   tamaim     5     5
5    tomal     6     6

In [ ]:
data = {"fruits":['apple','banana','cherry','lichi'],
        'price':[100,200,300,400],
        'quantity':[15,10,20,30]}

df1 = pd.DataFrame(data)

print(df1)

df2 = df1.copy()

df2.loc[4,'fruits'] = 'kiwi'
df2.loc[4,'price'] = 500
df2.loc[4,'quantity'] = 50                     ### Add new item with consider index number


print()

print()

print(df2)

   fruits  price  quantity
0   apple    100        15
1  banana    200        10
2  cherry    300        20
3   lichi    400        30


   fruits  price  quantity
0   apple  100.0      15.0
1  banana  200.0      10.0
2  cherry  300.0      20.0
3   lichi  400.0      30.0
4    kiwi  500.0      50.0

In [ ]:
data = {'indx':[0,1,2,3],
    "fruits":['apple','banana','cherry','lichi'],
        'price':[100,200,300,400],
        'quantity':[15,10,20,30]}

df1 = pd.DataFrame(data)

print(df1)

df2 = df1[['indx','fruits','price']]   ### Its provide individual column wise result



print(df2)

   indx  fruits  price  quantity
0     0   apple    100        15
1     1  banana    200        10
2     2  cherry    300        20
3     3   lichi    400        30
   indx  fruits  price
0     0   apple    100
1     1  banana    200
2     2  cherry    300
3     3   lichi    400

In [ ]:
#### comapare with other DataFrame

In [ ]:
data = {"fruits":['apple','banana','cherry','lichi'],
        'price':[100,200,300,400],
        'quantity':[15,10,20,30]}

df1 = pd.DataFrame(data)

print(df1)

df2 = df1.copy()

df2.loc[0,'fruits'] = 'kiwi'
df2.loc[3,'fruits'] = 'watermelon'
df2.loc[0,'price'] = 400
df2.loc[3,'price'] = 500
df2.loc[0,'quantity'] = 40
df2.loc[3,'quantity'] = 50

print()

print()

print(df2)

print()
print()



df3 = df1.compare(df2)
print(df3)

   fruits  price  quantity
0   apple    100        15
1  banana    200        10
2  cherry    300        20
3   lichi    400        30


       fruits  price  quantity
0        kiwi    400        40
1      banana    200        10
2      cherry    300        20
3  watermelon    500        50


  fruits              price        quantity
    self       other   self  other     self other
0  apple        kiwi  100.0  400.0     15.0  40.0
3  lichi  watermelon  400.0  500.0     30.0  50.0

In [ ]:
df3 = df1.compare(df2,align_axis=0)
print(df3)

             fruits  price  quantity
0 self        apple  100.0      15.0
  other        kiwi  400.0      40.0
3 self        lichi  400.0      30.0
  other  watermelon  500.0      50.0

In [ ]:
### Pivot

In [ ]:
dict = {'keys':['k1','k2','k1','k2'],
        'names':['alom','namir','jamir','mohon'],
        'houses':['red','blue','green','red'],
        'no': [11,22,33,44],
        'grades':['1st','2nd','3rd','4th']}



df = pd.DataFrame(dict)
print(df)

print()
print()

k = df.pivot(index='keys',columns='names',values=['houses','no','grades'])  ### It exchange between row and column
print(k)

  keys  names houses  no grades
0   k1   alom    red  11    1st
1   k2  namir   blue  22    2nd
2   k1  jamir  green  33    3rd
3   k2  mohon    red  44    4th


      houses                      no                   grades              \
names   alom  jamir mohon namir alom jamir mohon namir   alom jamir mohon
keys
k1       red  green   NaN   NaN   11    33   NaN   NaN    1st   3rd   NaN
k2       NaN    NaN   red  blue  NaN   NaN    44    22    NaN   NaN   4th


names namir
keys
k1      NaN
k2      2nd

In [ ]:
#### Melt DataFrame


dict = {
        'names':['alom','namir','jamir','mohon'],
        'houses':['red','blue','green','red'],
        'no': [11,22,33,44],
        'grades':['1st','2nd','3rd','4th']}



df = pd.DataFrame(dict)
print(df)
print()
print()


E = df.melt(id_vars=['names'],value_vars=['houses','grades'])
print(E)  #### create variable

   names houses  no grades
0   alom    red  11    1st
1  namir   blue  22    2nd
2  jamir  green  33    3rd
3  mohon    red  44    4th


   names variable  value
0   alom   houses    red
1  namir   houses   blue
2  jamir   houses  green
3  mohon   houses    red
4   alom   grades    1st
5  namir   grades    2nd
6  jamir   grades    3rd
7  mohon   grades    4th

In [ ]:
E = df.melt(id_vars=['names'],value_vars=['houses','grades'],var_name='housesandgrades',
            value_name='valuse')
print(E)  #### change variable name

   names housesandgrades valuse
0   alom          houses    red
1  namir          houses   blue
2  jamir          houses  green
3  mohon          houses    red
4   alom          grades    1st
5  namir          grades    2nd
6  jamir          grades    3rd
7  mohon          grades    4th